body {
    background : rgba(209, 231, 240, 1);
    background : -moz-linear-gradient(left, rgba(209, 231, 240, 1) 0%, rgba(235, 247, 250, 1) 83%, rgba(242, 252, 255, 1) 100%);
    background : -webkit-gradient(left top, right top, color-stop(0%, rgba(209, 231, 240, 1)), color-stop(83%, rgba(235, 247, 250, 1)), color-stop(100%, rgba(242, 252, 255, 1)));
    background : -webkit-linear-gradient(left, rgba(209, 231, 240, 1) 0%, rgba(235, 247, 250, 1) 83%, rgba(242, 252, 255, 1) 100%);
    background : -o-linear-gradient(left, rgba(209, 231, 240, 1) 0%, rgba(235, 247, 250, 1) 83%, rgba(242, 252, 255, 1) 100%);
    background : -ms-linear-gradient(left, rgba(209, 231, 240, 1) 0%, rgba(235, 247, 250, 1) 83%, rgba(242, 252, 255, 1) 100%);
    background : linear-gradient(to right, rgba(209, 231, 240, 1) 0%, rgba(235, 247, 250, 1) 83%, rgba(242, 252, 255, 1) 100%);
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1e7f0', endColorstr='#f2fcff', GradientType=1);
}
